{% extends "base.html" %}

{% block h1_header %}
    Sobre mi
{% endblock h1_header %}

{% block main %}
    <p></p>
    <ul>
        <p>¡Hola! Soy Juan Manuel Melo, actualmente cursando la carrera de Data Science. A lo largo de mi formación, he desarrollado una pasión por la ciencia de datos y la programación, y actualmente me encuentro trabajando en mi proyecto final de Python, el cual está enfocado en el desarrollo de aplicaciones web utilizando Django.</p>
        <p>Este proyecto es una gran oportunidad para aplicar mis conocimientos en desarrollo web, combinando mis habilidades en programación con los principios de la ciencia de datos. Siempre estoy buscando aprender nuevas tecnologías y mejorar mis habilidades en el campo.</p>
        <p>Me entusiasma seguir creciendo en esta área y contribuir con proyectos que integren análisis de datos y soluciones tecnológicas innovadoras.</p>
    </ul>
{% endblock main %}