{% extends "base.html" %}

{% block h1_header %}
    Crear Producto
{% endblock h1_header %}

{% block main %}
    <form action={% url 'inicio:crear_producto' %} method="post">
        {% csrf_token %}
        <p></p>
        <p>
            {{formulario.nombre}}
        </p>
        <p>
            {{formulario.precio}}
        </p>
        <p>
            {{formulario.stock}}
        </p>
        <p>
            <input type="submit" value="Enviar formulario">
        </p>
    </form>
{% endblock main %}