{% extends "base.html" %}

{% block h1_header %}
    Listado de Productos
{% endblock h1_header %}

{% block main %}
<form action={% url "inicio:listado_productos" %}>
    <ul>
        <p>
            <p>
                {{formulario.nombre}} <input type="submit" value='Buscar'>
            </p>
        </p>
    </ul>
    
</form>
    {% if listado_productos %}
    <p>
    <ul>
        {% for producto in listado_productos %}
        <li>
            {{producto}} 
            | <a href={% url "inicio:ver_producto" producto.id %}>Ver</a> 
            | <a href={% url "inicio:editar_producto" producto.id %}>Editar</a>
            | <a href={% url "inicio:eliminar_producto" producto.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    </p>
    {% else %}
    <p>No hay productos en el listado</p>
    {% endif %}
{% endblock main %}